.carousel-inner{
    width: 5%;
    max-height: 98vh  ;
}
.carousel-item{
    position: relative;
    
}
.temp-logo{
    position: relative;
    
}
.template-main-menu {
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 10.3%;
    display: initial;
    right: 0;
    left: 30;
    
}
.temp-logo{
    position: fixed;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    width: 10%;
    height: 10%;
    display: initial;
    
}
.container1{
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: rgb(255, 252, 221);
}